<p id="notice"><%= notice %></p>

<h1>Users</h1>

<div class="container-fluid">
<!--   <h1 align="center">Listing users</h1>
 -->
    <% @users.each_slice(3) do |users| %>
          <div class="row">
            <% users.each do |user| %>
                <div class="col-sm"><a href="#"><h1>Bike 1</h1></a>
                    <%= image_tag(user.image_url, class: "img-fluid")unless user.image_url.nil? %>
                    <p>Pretty cool bike</p>

                    <strong>$ 42</strong>
                </div><!-- /col -->
            <% end %>
          </div><!--row -->
    <% end %>    
</div>


<br>

<%= link_to 'New User', new_user_path %>




